<div class="thumbnail">
  <div id="DemoCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">

      <ol class="carousel-indicators">
          <li data-target="#DemoCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#DemoCarousel" data-slide-to="1"></li>
          <li data-target="#DemoCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active">
              <h2>Slide 1</h2>
              <div class="carousel-caption">
                  <h3>This is the First Label</h3>
                  <p>The Content of the First Slide goes in here</p>
              </div>
          </div>
          <div class="item">
              <h2>Slide 2</h2>
              <div class="carousel-caption">
                  <h3>This is the Second Label</h3>
                  <p>The Content of the second Slide goes in here</p>
              </div>
          </div>
          <div class="item">
              <h2>Slide 3</h2>
              <div class="carousel-caption">
                  <h3>This is the Third Label</h3>
                  <p>The Content of the Third Slide goes in here</p>
              </div>
          </div>
      </div>
      <a class="carousel-control left" href="#DemoCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#DemoCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
</div>